<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1 class="text-danger">Error</h1>
                <p><%= message %></p>
                <% if (process.env.NODE_ENV === 'development' && error) { %>
                    <h2>Error Details:</h2>
                    <pre><%= error.stack %></pre>
                <% } %>
                <a href="/" class="btn btn-primary">Go to Home</a>
            </div>
        </div>
    </div>
</div>